extends layout

block content
  div.search__wrapper( ng-app='showSearch' ng-controller='search')
    input.search__input(id='searchInput' ng-model='searchInput' ng-change='tvSearch()')
    i.fa.fa-times.search__reset(ng-click='reset()')
    ul.search__result
      li.search__item(ng-repeat='result in results')
        img.search__img(ng-src='http://image.tmdb.org/t/p/w300/{{ result.backdrop_path }}' ng-show='result.backdrop_path.length')
        div.search__no-img(ng-hide='result.backdrop_path.length')
          i.fa.fa-film
        span.search__title
          {{ result.name }}
        span.search__aired
          {{ result.first_air_date }}