@import "./bower_components/mrwhite-scss-mixins/mixins.scss";
@import "./bower_components/fontawesome/scss/font-awesome.scss";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.search__wrapper {
  width: 100%;
  max-width: 600px;

  @include center(x);
}

.search__input {
  width: calc(100% - 30px);
  margin-top: 30px;
  padding: 15px;
  font-size: 15px;
  border: none;
  background: #5B69FF;
  color: #fff;
}

.search__reset {
  color: #fff;
  font-size: 25px;
  cursor: pointer;

  @include position(top, right, 42px, 10px);

  &:hover {
    opacity: 0.5;
  }
}

.search__result {
  padding: 0;
  list-style: none;
}

.search__item {
  background: #ccc;
  position: relative;
  height: 50px;

  &:nth-child(odd) {
    background: #ddd;
  }
}

.search__img {
  max-height: 50px;
}

.search__no-img {
  height: 50px;
  width: 90px;
  position: relative;

  i {
    @include center(both);
  }
}

.search__title {
  @include center(y);

  left: 100px;
}

.search__aired {
  @include center(y);

  left: auto;
  right: 10px;
}